body {
  background: #efefef;
}

#main {
  color: #222;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-size: 15px;
}

.ozet-title {
  font-size: 36px;
  color: #000;
  opacity: .5;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

#site-nav {
  a {
    display: block;
  }
}

.main-content {
  margin-top: $pad;
  margin-bottom: $pad*2;
}

.works-maj {

  margin-bottom: $pad*3;

  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: border-box;
    padding: 0 30px;
    /*font-weight: bold;*/
    color: #fff;
    line-height: 44px;

    a {
      color: #fff;
      font-size: 44px;
      font-weight: bold
    }
  }

  .main-image {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }
}

.video {
  margin-top: $pad;

  figcaption {
    font-size: 13px;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

h4 {
  margin-top: 20px;
}

#texts-page {
  
  h3 {
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
  }
}