@import url("https://fonts.googleapis.com/css?family=Saira:400,700&display=swap");

@mixin ozet-style($weight: 400) {
  font-family: "Saira", sans-serif;
  font-weight: $weight;
}

body {
  background: #efefef;
}

#main {
  color: #222;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-size: 15px;
  margin-top: 20px;
}

#ozet-title {
  @include ozet-style(700);
  top: 0;
  left: 0;
  position: absolute;
  padding: 0 0 0 30px;
  font-size: 36px;
  color: #000;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;

  &.resizing {
    visibility: hidden;
  }

  &:hover {
    opacity: 1 !important;
    text-decoration: none;
  }
}

#site-nav a {
  display: block;
  text-align: right;
  margin-right: 20px;
}

.main-content {
  margin-top: $pad;
  margin-bottom: $pad * 2;
}

.ozet-style {
  @include ozet-style();
}

.works-maj {
  margin-bottom: $pad * 3;

  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: border-box;
    padding: 0 30px;
    /*font-weight: bold;*/
    color: #fff;
    line-height: 44px;

    a {
      color: #fff;
      font-size: 44px;
      font-weight: bold;
    }
  }

  .main-image {
    display: block;
  }

  img {
    display: block;
    width: 100%;
  }
}

#main .video {
  margin-top: $pad;

  h4 {
    margin-bottom: 0;
    margin-top: 0;
  }

  iframe,
  .vid-thumb {
    display: block;
    margin-bottom: $pad;
    cursor: pointer;
    position: relative;
  }

  .vid-thumb div {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
  }

  .vid-thumb div:before {
    content: "";

    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/play-button.png");
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  figcaption .caption {
    margin-top: 20px;
    font-size: 13px;
  }
}

h2 {
  @include ozet-style();
  margin-top: 0;
  margin-bottom: 30px;
}

h4 {
  margin-top: 20px;
}

#texts-page {
  p {
    font-size: 14px;
  }
}

.hp-title {
  // font-size: 32px;
  // font-weight: bold;
}

#latest-work {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // position: relative;
  // justify-content: space-between;
  margin-bottom: $pad;

  &.up-2 .new-work {
    // width: 45%;
  }

  .new-work {
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: $pad;

    .main-image {
      width: 100%;
      height: 200px;
      display: block;
      background-size: cover;
      background-position: center;
    }

    h3 a {
      position: absolute;
      left: 30px;
      bottom: 10px;
      color: #fff;
      position: 200;
      font-size: 28px;
      font-weight: bold;
    }

    &:hover {
      // width: calc(100% - 30px);
      // margin-left: 15px;
      // box-sizing: border-box;
      // position: absolute;
      // z-index: 100;
      // top: 0;
      // left: 0;
    }

    p {
      text-align: center;
    }
  }
}

.playlist-embed {
  margin-top: 20px;
}

#log-page {
  h3 {
    margin-bottom: 1em;
  }

  #logs-list {
    h3 {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 0;
  }
}

.music-row p {
  max-width: 500px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #ozet-title {
    text-align: center;
  }
  #site-nav a {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 767px) {
  h1,
  h2,
  h4,
  h5 {
    margin-bottom: 1em;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 2em;
  }
}
