---
---
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-monospace !default;
$headings-font-family: Arial, Helvetica, sans-serif;
$pad: 20px;

// import bootstrap
@import "bootstrap";
/*@import "base";*/
@import "aa"
