<!DOCTYPE html>
<html>
<head>
  <title>OZET</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/assets/javascripts/size-videos.js"></script>
  <script type="text/javascript">
    window.WORKS = [{% for work in site.works %}{ title: '{{work.title}}', date: '{{work.date}}' },{% endfor %}]
  </script>

  <meta charset="UTF-8">
</head>
<body>
<div id="main">

  <div id="page-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <h1><a href="/" class="ozet-title">OZET</a></h1>
          {% include nav.html %}
        </div>
        <div class="col-sm-8 col-xs-12 main-content" id="{{ page.category }}-page">
          {{ content }}      
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>